language: ruby
cache: bundler
sudo: false

gemfile:
  - gemfiles/rails_3_1.gemfile
  - gemfiles/rails_3_2.gemfile
  - gemfiles/rails_4_0.gemfile
  - gemfiles/rails_4_1.gemfile
  - gemfiles/rails_4_2.gemfile
  - gemfiles/rails_5_0.gemfile

rvm:
  - 2.3.1
  - 2.2
  - 2.1
  - 2.0
  - 1.9

matrix:
  fast_finish: true
  exclude:
    - rvm: 1.9
      gemfile: gemfiles/rails_5_0.gemfile
    - rvm: 2.0
      gemfile: gemfiles/rails_5_0.gemfile
    - rvm: 2.1
      gemfile: gemfiles/rails_5_0.gemfile
    - rvm: 2.2
      gemfile: gemfiles/rails_5_0.gemfile
    - rvm: 2.2
      gemfile: gemfiles/rails_3_1.gemfile
    - rvm: 2.3.1
      gemfile: gemfiles/rails_3_1.gemfile
