<h1>Features</h1>
<%= area :features_list do %>
  <%- features.each do |feature| %>
    <div class='feature' id='basic-feature-<%= feature %>'>Basic Features <%= feature %></div>
  <%- end %>
<% end %>
<%= area :features_summary do %>
  <p>Here is a summary or something like that...</p>
<%- end %>
