<!DOCTYPE html>
<html>
  <head>
    <title><%= area :title, 'Nestive' %></title>
  </head>
  <body>
    <%= yield %>
    <div id="some-area">
      <%= area :some_area do -%>
        Some content
      <%- end -%>
    </div>
    <div id="empty-area"><%= area :empty_area %></div>
  </body>
</html>